data:
  input_h5_prefix: "train_intervention"
  data_cache_dir: "data/cache"

artifacts:
  model_name: "intervention_model"

seq_len: 120
batch_size: 512
epochs: 100
lr: 0.001
patience: 5
  
# Scheduler

# Loss
focal_gamma: 4.0

# Architecture
embed_dim: 128
cat_embed_dim: 32
dropout: 0.5
tcn_kernel_size: 5
tcn_layers: 5
tcn_dropout: 0.4
