# configs/cnn_config.yaml
data:
  path: "data/processed/dataset_123_answer.parquet" # 라벨링 된 데이터 사용
  data_cache_dir: "data/cache"
  exclude_cols: ["ICD9_CODES"]

model:
  seq_len: 120
  batch_size: 512
  epochs: 0
  lr: 0.001
  patience: 10
  
  # Scheduler
  use_cosine_scheduler: false
  T_0: 10
  lr_patience: 5

  # Loss
  focal_gamma: 2.0
  label_smoothing: 0.1
  ema_decay: 0.999

  # Architecture
  embed_dim: 128
  cat_embed_dim: 32
  dropout: 0.5
  tcn_kernel_size: 5
  tcn_layers: 5
  tcn_dropout: 0.4