data:
  input_h5_prefix: "train_intervention"
  data_cache_dir: "data/cache"

artifacts:
  model_name: "intervention_model"

seq_len: 120
batch_size: 512
epochs: 100
lr: 3.0e-4
patience: 5

use_cosine_scheduler: true

focal_gamma: 2.0
use_weighted_sampler: true

embed_dim: 128
cat_embed_dim: 32
dropout: 0.5
tcn_kernel_size: 5
tcn_layers: 5
tcn_dropout: 0.4
